- url = url_for_only_path(:id => (@edit[:rec_id] || "new"),
  :action => @edit[:new][:service_type] == "composite" ? "st_form_field_changed" : "atomic_form_field_changed")
#form_div
  = render :partial => "layouts/flash_msg"
  -# show form if Catalog bundle is being added or if it's an edit of existing catalog item, else force user to select type
  - if @edit[:new][:service_type] == "atomic" && !@edit[:wf] && !@edit[:new][:st_prov_type]
    .form-horizontal
      .form-group
        %label.col-md-2.control-label= _('Catalog Item Type Wazery Test')
        .col-md-8
          - array = Array({"amazon" => _("Amazon"), "azure" => _("Azure"), "generic" => _("Generic"), "generic_orchestration" => _("Orchestration"), "generic_ansible_playbook"   => _("Ansible Playbook"), "generic_ansible_tower" => _("AnsibleTower"), "generic_container_template" => _("Container Template"), "google" => _("Google"), "microsoft" => _("SCVMM"), "openstack" => _("OpenStack"), "redhat" => _("RHEV"), "vmware" => _("VMware"), "oem" => _("OEM")}.invert).sort_by { |a| a.first.downcase }
          = select_tag('st_prov_type',
                       options_for_select(([["<#{_('Choose')}>",nil]]) + array, nil),
                       "data-miq_sparkle_on" => true,
                       :class    => "selectpicker")
          :javascript
            miqInitSelectPicker();
            miqSelectPickerEvent('st_prov_type', "#{url}", {beforeSend: true, complete: true})
  - else
    = render :partial => "form"
